###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea
/.php-version
Projet_API_REST_Symfony.md
###< symfony/framework-bundle ###
